<div class="center jumbotron">
  <div class="row">
    <h2>Advertising Channels</h2>
    <h3>Communities:</h3>
    <li>
      <p>Joining and participate in the following communities to reach more potential users:</p>
    </li>
    <div class="wrap">
      <div class="col-md-12">
	<p>test</p>
      </div>  
    <!-- <%= @master_json =%> -->
  </div>
</div>  
