<div class="center jumbotron">
<div class="row">
<div class="col-md-6"><img alt="Facebook logo" src="assets/Tri_Vision_Logo.jpg" height="200" width="300"/></div>
<div class="col-md-6">
<form accept-charset="UTF-8" action="/advertising" class="new_user"
      id="new_user" method="get">

<div class="row">
  <div class="col-md-1"><img alt="Facebook logo" src="assets/Facebook_logo.png" height="35" width="35"/></div>
  <div class="col-md-2"> <label for="user_name">Facebook</label> </div>
  <div class="col-md-9"><input id="user_name" name="user[name]" type="text" value="https://www.facebook.com/UrbnEarth"/></div>
</div>

<div class="row">
  <div class="col-md-1"><img alt="Twitter" src="assets/Twitter-icon.png" h\
eight="35" width="35"/></div>
  <div class="col-md-2"> <label for="user_name">Twitter</label> </div>
  <div class="col-md-9"><input id="user_name" name="user[name]" type="text" value="@UrbnEarth"/></div>
</div>

<div class="row">
  <div class="col-md-1"><img alt="Yelp" src="assets/Yelp_Logo.png" h\
eight="40" width="40"/></div>
  <div class="col-md-2"> <label for="user_name">Yelp</label> </div>
  <div class="col-md-9"><input id="user_name" name="user[name]" type="text" value=""/></div>
</div>

<div class="row">
  <div class="col-md-1"><img alt="Instagram" src="assets/instagram-logo.png" h\
eight="35" width="35"/></div>
  <div class="col-md-2"> <label for="user_name">Instagram</label> </div>
  <div class="col-md-9"><input id="user_name" name="user[name]" type="text" value=""/></div>

  <div class="col-md-12"><input class="btn btn-primary" name="commit" type="submit"
         value="Get Started"/></div>
</div>


</form>
</div>
</div>
</div>
